<!DOCTYPE html>
<html>
<head>
	<title>Card</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/jquery.countdown.css"> 
	<script type="text/javascript" src="js/jquery.plugin.js"></script> 
	<script type="text/javascript" src="js/jquery.countdown.js"></script>
</head>
<body>
	<div class="w3-card w3-border" style="width: 20%">
		<img src="iphone.png" alt="image" style="width: 100%;height: 70%">
		<div class="w3-container w3-center">
			<p>Iphone</p>
			<p>Max price: 500.000 VND</p>
			<p class="w3-text-red">30:00</p>
		</div>
	</div>
</body>
</html>