<!DOCTYPE html>
<html>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<style>
  /*body {
    background-image: url("images.jpg");
    background-repeat: repeat-x;

  }*/
  .button {
    border-radius: 4px;
  }
  .login-help{
    font-size: 12px;
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
  }
</style>
<body>

<div class="w3-container w3-display-middle" >
  <form class="w3-container w3-card-4 w3-white" style="width: 400px" action="form.asp">
    <h2>Login to Your Account</h2>
    <p>
      <input class="w3-input w3-border" type="text" name="" placeholder="Username">
    </p>
    <p>
      <input class="w3-input w3-border" type="password" name="" placeholder="******">
    </p>
    <p>
      <button class="w3-btn w3-blue button" >Login</button>
    </p>
    <p class="login-help">
      <a href="register.html">Register</a> - <a href="reset.html">Forgot Password?</a>
    </p>
  </form>
</div>

</body>
</html>

