<!DOCTYPE html>
<html>
	<title>Register</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<style>
		.button {border-radius: 4px}
		/*body {
   			background-image: url("images.jpg");
    		background-repeat: repeat-x;

		}*/
	</style>
<body>
	<div class="w3-container w3-display-middle">
		<form class="w3-container w3-card-4 w3-white" style="width:400px" action="form.asp">
			<h2>Create an account</h2>
			<p>
				<input type="text" name="firstname" class="w3-input w3-border" placeholder="First Name">
			</p>
			<p>
				<input type="text" name="lastname" class="w3-input w3-border" placeholder="Last Name">
			</p>
			<p>
				<input type="text" name="id" class="w3-input w3-border" placeholder="Username">
			</p>
			<p>
				<input type="password" name="pwd" class="w3-input w3-border" placeholder="******">
			</p>
			<p>
				<input type="password" name="confirmpwd" class="w3-input w3-border" placeholder="******">
			</p>
			<p>
				<input type="text" name="email" class="w3-input w3-border" placeholder="Email">
			</p>
			<p>
				<input type="text" name="phone" class="w3-input w3-border" placeholder="Phone">
			</p>
			<p>
				<button class="w3-btn w3-blue button" >Register</button>
			</p>
		</form>
	</div>
</body>
</html>